themes {
   brogrammer {
        fg "#D6DBE5"
        bg "#131313"
        black "#1F1F1F"
        red "#F81118"
        green "#2DC55E"
        yellow "#ECBA0F"
        blue "#2A84D2"
        magenta "#4E5AB7"
        cyan "#1081D6"
        white "#D6DBE5"
        orange "#F3BD09"
    }
}

