themes {
   dark_pastel {
        fg "#FFFFFF"
        bg "#000000"
        black "#000000"
        red "#FF5555"
        green "#55FF55"
        yellow "#FFFF55"
        blue "#5555FF"
        magenta "#FF55FF"
        cyan "#55FFFF"
        white "#FFFFFF"
        orange "#FFFF55"
    }
}

