themes {
   idle {
        fg "#FFFFFF"
        bg "#323232"
        black "#323232"
        red "#D25252"
        green "#7FE173"
        yellow "#FFC66D"
        blue "#4099FF"
        magenta "#F580FF"
        cyan "#BED6FF"
        white "#EEEEEC"
        orange "#FFE48B"
    }
}

