themes {
   jellybeans {
        fg "#DEDEDE"
        bg "#121212"
        black "#929292"
        red "#E27373"
        green "#94B979"
        yellow "#FFBA7B"
        blue "#97BEDC"
        magenta "#E1C0FA"
        cyan "#00988E"
        white "#DEDEDE"
        orange "#FFDCA0"
    }
}

