themes {
   panda {
        fg "#F0F0F0"
        bg "#1D1E20"
        black "#1F1F20"
        red "#FB055A"
        green "#26FFD4"
        yellow "#FDAA5A"
        blue "#5C9FFF"
        magenta "#FC59A6"
        cyan "#26FFD4"
        white "#F0F0F0"
        orange "#F3BE7E"
    }
}

