[[language]]
name = "python"
auto-format = true


[[language]]
name = "typst"
language-servers = ["tinymist"]
formatter = { command = "typstyle" }
auto-format = true
[language-server.tinymist]
command = "tinymist"
[language-server.tinymist.config]
typstExtraArgs = ["main.typ"]


[[language]]
name = "jinja"
language-servers = ["jinja-lsp"]
[language-server.jinja-lsp]
command = "jinja-lsp"
config = { templates = "./templates", backend = ["./src"], lang = "rust"}
timeout = 5
