[[language]]
name = "rust"
[language-server.rust-analyzer.cargo]
targetDir = true

[[language]]
name = "python"
auto-format = true


[[language]]
name = "typst"
language-servers = ["tinymist"]
formatter = { command = "typstyle" }
auto-format = true
[language-server.tinymist]
command = "tinymist"
[language-server.tinymist.config]
exportPdf = "onType"
outputPath = "$root/$name"
typstExtraArgs = ["main.typ"]
lint.enabled = true
preview.background.enabled = true
preview.background.args = ["--data-plane-host=127.0.0.1:23635", "--invert-colors=never", "--partial-rendering=false", "--open"]


[[language]]
name = "jinja"
language-servers = ["jinja-lsp"]
[language-server.jinja-lsp]
command = "jinja-lsp"
config = { templates = "./templates", backend = ["./src"], lang = "rust"}
timeout = 5
